<div class="container-properties">
  <center><a href="/#/">HOME</a></center>
  <center><p> we have {{ MC.properties.length }} properties </p></center>
  <br>
  <center><p> SORT BY CITY: </p>
  <select ng-model="sortBy">
    <option value="city">City</option>
    <option value="state">State</option>
    <option value="zipcode">ZipCode</option>
  </select>
</center>
  <div class="column-12"  ng-repeat="property in MC.properties | orderBy:sortBy">
    <div class="column-3">
      <div class="property-img">
        <img ng-src="{{ property.img }}">
      </div>
    </div>
    <div class="column-6">
      <div class="row">
        <div class="property-name">
          Property: {{ property.name }}
        </div>
      </div>
      <div class="row">
        <div class="property-address">
          Address: {{ property.address }}
        </div>
      </div>
      <div class="row">
        <div class="property-city">
          City: {{ property.city }}, {{ property.state }}
        </div>
      </div>
      <div class="row">
        <div class="property-zipcode">
          Pool: {{ property.pool }}
        </div>
      </div>
      <div class="row">
        <div class="property-zipcode">
          Pets Allowed: {{ property.pets }}
        </div>
      </div>
      <div class="row">
        <div class="property-zipcode">
          W/D Hookups: {{ property.washer }}
        </div>
      </div>
      <div class="row">
        <div class="property-zipcode">
          Laundry on-site: {{ property.laundry }}
        </div>
      </div>
      <div class="row">
        <div class="property-zipcode">
          Electric Included: {{ property.electric }}
        </div>
      </div>
      <div class="row">
        <div class="property-zipcode">
          Number of Units: {{ property.apartments }}
        </div>
      </div>
    </div>
    <div class="column-3">
      <ng-map zoom="11" center="[40.74, -74.18]">
        <marker position="[40.74, -74.18]" />
        <shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />
        <control name="overviewMap" opened="true" />
      </ng-map>` 
    </div>
  </div>
</div>
