<div class="container-properties">
  <center><a href="/#/">HOME</a></center>
  <center><p> we have {{ MC.properties.length }} properties </p></center>
  <br>
  <center><p> SORT BY CITY: </p>
  <select ng-model="sortBy">
    <option value="city">City</option>
    <option value="state">State</option>
    <option value="zipcode">ZipCode</option>
    <option value="apartments"># of Units</option>
  </select>
</center>
<br>
  <div class="column-12 properties-container"  ng-repeat="property in MC.properties | orderBy:sortBy">
    <div class="column-3">
      <div class="property-img">
        <img ng-src="{{ property.img }}">
      </div>
    </div>
    <div class="column-3">
      <div class="row">
        <div class="property-name">
          {{ property.name }}
        </div>
      </div>
      <div class="row">
        <div class="property-address">
          {{ property.address }}
        </div>
      </div>
      <div class="row">
        <div class="property-city">
          {{ property.city }}, {{ property.state }}
        </div>
      </div>
    </div>
    <div class="column-3 property-feature-container">
      <div class="row">
        <div class="property-feature">
          Pool: {{ property.pool }}
        </div>
      </div>
      <div class="row">
        <div class="property-feature">
          Pets Allowed: {{ property.pets }}
        </div>
      </div>
      <div class="row">
        <div class="property-feature">
          W/D Hookups: {{ property.washer }}
        </div>
      </div>
      <div class="row">
        <div class="property-feature">
          Laundry on-site: {{ property.laundry }}
        </div>
      </div>
      <div class="row">
        <div class="property-feature">
          Electric Included: {{ property.electric }}
        </div>
      </div>
      <div class="row">
        <div class="property-feature">
          Number of Units: {{ property.apartments }}
        </div>
      </div>
    </div>
    <div class="column-3">
      <ng-map class="property-map" zoom="11" default-style="false" center="{{ property.latlong }}">
        <marker position="{{ property.latlong }}" />
        <!-- <shape name="circle" radius="200" center="{{ property.latlong }}" radius="4000" /> -->
        <control name="overviewMap" opened="true" />
      </ng-map>`
    </div>
  </div>
</div>
